{%load static%}
<header id="header" class="full-header">
	<div id="header-wrap">
		<div class="container">
			<div class="header-row">
				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="{% url 'home' %}" class="standard-logo" data-dark-logo="images/logo-dark.png">
						<img src="{% static 'images/logo.png' %}" alt="Canvas Logo"></a>
					<a href="{% url 'home' %}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
						<img src="{% static 'images/logo@2x.png' %}" alt="Canvas Logo"></a>
				</div>
				<!-- #logo end -->
				<div class="header-misc">
					{%if request.user.is_authenticated%}
					<!-- Top Search
					============================================= -->
					<div id="top-search" class="header-misc-icon">
						<a href="#" id="top-search-trigger"><i class="icon-line-search"></i>
							<i class="icon-line-cross"></i></a>
					</div>
					<!-- #top-search end -->
					{%endif%}
					<!-- Top Cart
					============================================= -->

					<!-- #top-cart end -->
					<div class="dropdown mx-3 mr-lg-0">
						{%if request.user.is_authenticated%}
						<a class="dropdown-item text-left" href="{% url 'logout' %}">Выйти  <i class="icon-signout"></i></a>
						{%endif%}
					</div>
				</div>
				<!-- Primary Navigation
				============================================= -->
				<!-- #primary-menu end -->
				<form class="top-search-form" action="{% url 'all' %}" method="get" >
					<input type="search" name="search" class="form-control" placeholder="Поиск друзей..." onkeypress="return runScript(event)" id="search">
				</form>
			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
	<script>
function runScript(e) {
    //See notes about 'which' and 'key'
    if (e.keyCode == 13) {
        var tb = document.getElementById("search");
        eval(tb.value);
        return false;
    }
}
	</script>
</header>