{%load static%}
<style>
	.team-image > a, .team-image img {
    display: block;
    width: 100%;
}
.content-wrap {
    position: relative;
    padding: 30px 0;
    overflow: hidden;
}
form {
    margin-bottom: 0px;
}
</style>
<!-- Content
		============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="row clearfix">
				<div class="col-md-12">
					<div class="row clearfix">
						<div class="tabs tabs-alt clearfix" id="tabs-profile">
								<ul class="tab-nav clearfix">
									<li><a href="#tab-all_friends"><i class="icon-rss2"></i> Друзья
									{%if count_all_friends|length < 0 %}
										<span></span>
										{% elif count_all_friends|length == 0 %}
										<span></span>
										{% else%}
										({{count_all_friends|length }})
										{%endif%}
									</a></li>
									<li><a href="#tab-my_request"><i class="icon-reply"></i> Запросы
										{%if count_not_approve_friends|length < 0 %}
										<span></span>
										{% elif count_not_approve_friends|length == 0 %}
										<span></span>
										{% else%}
										<span class="badge badge-pill badge-secondary float-right" style="margin-top: 3px;">
											+{{count_not_approve_friends|length }}
										</span>
										{%endif%}
									</a></li>
									<li><a href="#tab-not_approve_friends"><i class="icon-pencil2"></i> Ваши запросы
									{%if count_my_request|length < 0 %}
										<span></span>
										{% elif count_my_request|length == 0 %}
										<span></span>
										{% else%}
										<span class="badge badge-pill badge-secondary float-right" style="margin-top: 3px;">
											+{{count_my_request|length }}
										</span>
										{%endif%}
									</a></li>
								</ul>
								<div class="tab-container">
									<!-- Друзья
		============================================= -->
									<div class="tab-content clearfix" id="tab-all_friends">
										{% for friends in all_friends %}
										{%if user.id == friends.friend_id%}
										<div class="col-lg-12">
											<div class="team team-list row align-items-center">
												<div class="team-image col-sm-2">
													{%if friends.name.photo%}
													<a href="{{friends.name.get_absolute_url}}"><img src="{{friends.name.photo.url}}" alt="photo" ></a>
													{%else%}
													<a href="{{friends.name.get_absolute_url}}"><img src="{% static 'images/icons/avatar.jpg' %}" alt="photo" ></a>
													{%endif%}
												</div>
												<div class="team-desc col-sm-6">
													<div class="team-title"><h5>{{friends.name.last_name}} {{friends.name.first_name}}</h5></div>
														<div>
															<form method="post">
																{%csrf_token%}
																<input type="hidden" name="id" id="id_id" value="{{friends.id}}">
																<button class="button button-3d button-small button-rounded button-red" type="submit" name="submit" value="delete_friend_form">Удалить</button>
															</form>
														</div>
														<br>
												</div>
											</div>
										</div>
										{%elif user.id == friends.name_id%}
										<div class="col-lg-12">
											<div class="team team-list row align-items-center">
												<div class="team-image col-sm-2">
													{%if friends.friend.photo%}
													<a href="{{friends.friend.get_absolute_url}}"><img src="{{friends.friend.photo.url}}" alt="photo" ></a>
													{%else%}
													<a href="{{friends.friend.get_absolute_url}}"><img src="{% static 'images/icons/avatar.jpg' %}" alt="photo" ></a>
													{%endif%}
												</div>
												<div class="team-desc col-sm-6">
													<div class="team-title"><h5>{{friends.friend.last_name}} {{friends.friend.first_name}}</h5></div>
														<!-- удалить друга
		============================================= -->
															<form method="post">
																{%csrf_token%}
																<input type="hidden" name="id" id="id_id" value="{{friends.id}}">
																<button class="button button-3d button-small button-rounded button-red" type="submit" name="submit" value="delete_friend_form">Удалить</button>
															</form>

														<br>
												</div>
											</div>
										</div>
										{%endif%}
										{%endfor%}
									</div>
									<!-- Запросы
		============================================= -->
									<div class="tab-content clearfix" id="tab-my_request">
										<div class="tab-content clearfix">

										{% for my_request in my_request %}
										<div class="col-lg-12">
											<div class="team team-list row align-items-center">
												<div class="team-image col-sm-2">
													{%if my_request.name.photo%}
													<a href="{{my_request.name.get_absolute_url}}"><img src="{{my_request.name.photo.url}}" alt="photo" ></a>
													{%else%}
													<a href="{{my_request.name.get_absolute_url}}"><img src="{% static 'images/icons/avatar.jpg' %}" alt="photo" ></a>
													{%endif%}
												</div>
												<div class="team-desc col-sm-6">
													<div class="team-title"><h5>{{my_request.name.last_name}} {{my_request.name.first_name}}</h5></div>
															<!-- Добавить запрос
		============================================= -->
															<form method="post">
															{%csrf_token%}
															<input type="hidden" name="approve_friendship" id="id_approve_friendship" value="on">
															<input type="hidden" name="id" id="id_id" value="{{my_request.id}}">
															<button class="button button-3d button-small button-rounded button-aqua" type="submit" name="submit" value="approve_friend_form">Добавить</button>
														</form>

															<!-- Удалить запрос
		============================================= -->
															<form method="post">
																{%csrf_token%}
																<input type="hidden" name="id" id="id_id" value="{{my_request.id}}">
																<button class="button button-3d button-small button-rounded button-red" type="submit" name="submit" value="delete_friend_form">Удалить</button>
															</form>

														<br>
														</div>
												</div>
											</div>
										</div>
										{%endfor%}
									</div>
									</div>
							<!-- Ваши запросы
		============================================= -->
									<div class="tab-content clearfix" id="tab-not_approve_friends">
										<div class="tab-content clearfix">
										{% for not_approve in not_approve_friends %}
										<div class="col-lg-12">
											<div class="team team-list row align-items-center">
												<div class="team-image col-sm-2">
													{%if not_approve.friend.photo%}
													<a href="{{not_approve.friend.get_absolute_url}}"><img src="{{not_approve.friend.photo.url}}" alt="photo" ></a>
													{%else%}
													<a href="{{not_approve.friend.get_absolute_url}}"><img src="{% static 'images/icons/avatar.jpg' %}" alt="photo" ></a>
													{%endif%}
												</div>
												<div class="team-desc col-sm-6">
													<div class="team-title"><h5>{{not_approve.friend.last_name}} {{not_approve.friend.first_name}}</h5></div>
														<div>
							<!-- удалить ваш запросы
		============================================= -->
															<form method="post">
																{%csrf_token%}
																<input type="hidden" name="id" id="id_id" value="{{not_approve.id}}">
																<button class="button button-3d button-small button-rounded button-red" type="submit" name="submit" value="delete_friend_form">Удалить</button>
															</form>
														</div>
														<br>
												</div>
											</div>
										</div>
										{%endfor%}
									</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->
