{%load static%}
<style>
.comment-wrap {
    position: relative;
    border: 0px solid #E5E5E5;
    border-radius: 0px;
    padding: 20px 20px 20px 35px;
    }
.col-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5, .col-xl-1-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 800px;
}

.comment-wrap {
    position: relative;
    border: 0px solid #E5E5E5;
    border-radius: 0px;
    padding: 10px 10px 0px 35px;
    }

</style>

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">
		<div class="container clearfix">
<!-- Данные профиля
============================================= -->
			{%for profile in profile %}
			<div class="row clearfix">
				<div class="col-md-12">
					{% if profile.photo %}
					<img src="{{profile.photo.url}}" class="alignleft img-circle img-thumbnail my-0" alt="Avatar" style="max-width: 84px;">
					{%else%}
					<img src="{% static 'images/icons/avatar.jpg' %}" class="alignleft img-circle img-thumbnail my-0" alt="Avatar" style="max-width: 84px;">
					{% endif %}
					<div class="heading-block border-0">
						<h4>{{profile.first_name}} {{profile.last_name}}</h4>
							{% if profile.id == user.id%}
								<a href="{{ profile.update }}">Редактировать</a>
							{%else%}
						{%for user_list in user_list%}
						{%if user_list.id == profile.id %}
								<form method="post">{%csrf_token%}
									<input type="hidden" name="name" id="id_name" value="{{user.id}}">
									<input type="hidden" name="friend" id="id_friend" value="{{user_list.id}}">
									<button class="button button-3d button-small button-rounded button-aqua" type="submit" name="submit" value="add_friend_form">Добавить</button>
								</form>
						{%endif%}
						{%endfor%}
							{%endif%}
					</div>
					<div class="clear"></div>
					<br>
					<div class="row clearfix">
						<div class="col-lg-12">
							<p>Дата рождения: {{profile.b_day}}</p>
							<p>Обо мне:  {{profile.bio}}</p>
						</div>
					</div>
					{% if profile.id == user.id%}
					<div class="container">
					<div class="fancy-title title-center title-border topmargin">
						<h4>Рекомендуемые друзья</h4>
					</div>
					<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-items-xs="2" data-items-sm="3" data-items-lg="4" data-items-xl="5">
						{%for user_list in user_list%}
						{% for recommended_list in recommended_list%}
							{% if recommended_list == user_list.id%}
						<div class="oc-item">
								{%if user_list.photo%}
							<a href="{{user_list.get_absolute_url}}"><img src="{{user_list.photo.url}}" alt="Image 1"></a>
								{%else%}
							<a href="{{user_list.get_absolute_url}}"><img src="{% static 'images/icons/avatar.jpg' %}" alt="Image 1"></a>
								{%endif%}
							<div class="product-desc center">
								<div class="product-title"><h5>
									<a href="{{user_list.get_absolute_url}}">{{user_list.first_name}} {{user_list.last_name}}</a></h5></div>
								</div>
							</div>
							{%endif%}
							{%endfor%}
						{%endfor%}
					</div>
				</div>
					{%endif%}
					<br><br>
			</div>
			<div class="w-100 line d-block d-md-none"></div>
		</div>

			<div class="row clearfix">
				<div class="col-md-12">
					<div class="clear"></div>
					<div class="row clearfix">
						<div class="card-body" style="padding: 10px;">

<!-- Добавление поста
============================================= -->
							<form action=" " method="post" enctype="multipart/form-data">
								{%csrf_token%}
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<textarea name="text" id="id_text" class="form-control required" cols="30" rows="2" placeholder="Добавить пост"></textarea>
										</div>
									</div>
									<div class="col-10 form-group">
										<label for="id_image">Добавить фото:</label><br>
										<input id="id_image" type="file" name="image" multiple >
									</div>
									<div class="col-2 form-group">
										<br>
										<button class="button button-3d button-black m-0" type="submit" name="submit" value="post_form">Добавить</button>
									</div>
							</form>
						</div>
						<div>
							<!-- Список постов
============================================= -->
							<ol class="commentlist clearfix">
								{% for posts in posts %}
								{% if posts.name_id == profile.id %}
								<li class="comment even thread-even depth-1">
									<div  class="comment-wrap clearfix">
										<div class="comment-meta">
											<div class="comment-author vcard">
												<a href="{{posts.poster.get_absolute_url}}">
													<span class="comment-avatar clearfix">
													{% if posts.poster.photo %}
													<img alt="Image" src="{{posts.poster.photo.url}}" class="avatar avatar-60 photo avatar-default" width="60" height="60"></span>
													{%else%}
													<img alt="Image" src="{% static 'images/icons/avatar.jpg' %}" class="avatar avatar-60 photo avatar-default" width="60" height="60"></span>
													{%endif%}
												</a>
											</div>
										</div>
										<div class="comment-content clearfix">
											<div class="comment-author">
												<a href="{{posts.poster.get_absolute_url}}">{{posts.poster.first_name}}</a>
												<!-- Редактирование поста
============================================= -->
												{% if posts.poster_id == user.id%}
												<i class="icon-line-edit" data-toggle="modal" data-target="#modal-update{{posts.id}}" ></i>
												<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-update{{posts.id}}">
													<div class="modal-dialog modal-lg">
														<div class="modal-body">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title" id="myModalLabel">Редактировать пост {{posts.post}}</h4>
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																</div>
																<div class="modal-body">
																	<form method="post" enctype="multipart/form-data">
																		{%csrf_token%}
																		<div class="row">
																			<div class="col-12">
																				<div class="form-group">
																					<textarea name="text" id="id_text" class="form-control required" cols="30" rows="2">{{posts.text}}</textarea>
																				</div>
																			</div>
																				<div class="col-10 form-group">
																					<label for="id_image">Редактировать фото:</label><br>
																					{%if posts.image %}
																					<img src="{{posts.image.url}}" width="100" height="100">
																					{%endif%}
																					<input id="id_image" type="file" name="image" multiple >
																				</div>
																			<input type="hidden" id="id_post" name="post" value="{{posts.id}}">
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																			<button class="btn btn-primary" type="submit" name="submit" value="update_post_form">Сохратить</button>
																		</div>
																	</form>
																</div>

															</div>
														</div>
													</div>
												</div>
												{%endif%}
												<span>
													<a>{{posts.date}}</a>
												</span>
											</div>
											<p>{{posts.text}}</p>
											{%if posts.image %}
											<img src="{{posts.image.url}}" alt="Standard Post" width="200" height="200">
											{%endif%}
											<!-- Удаление поста
============================================= -->
											{% if posts.poster_id == user.id or posts.name_id == user.id%}
											<a class="comment-reply-link">
												<form method="post" >
													{%csrf_token%}
													<i class="icon-line-cross" data-toggle="modal" data-target="#modal-delete{{posts.id}}"></i>
													<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-delete{{posts.id}}">
														<div class="modal-dialog modal-sm">
															<div class="modal-body">
																<div class="modal-content">
																	<div class="modal-header">
																		<h4 class="modal-title" id="myModalLabel">Удаление</h4>
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																	</div>
																	<input type="hidden" id="id_post" name="post" value="{{posts.id}}">
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																		<button class="btn btn-primary" type="submit" name="submit" value="delete_post_form">Удалить</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</form>
											</a>
											{%endif%}
											<br>
										</div>
										<!-- Добавление комментария
============================================= -->
										<div>
											<form action=" " method="post" enctype="multipart/form-data">
												{%csrf_token%}
												<div class="form-group">
													<textarea name="comment" id="id_comment" class="form-control required" cols="30" rows="1" placeholder="Добавить комментарий"></textarea>
												</div>
												<input type="hidden" id="id_post" name="post" value="{{posts.id}}">
												<button class="button button-3d button-mini button-rounded button-leaf" type="submit" name="submit" value="comment_form">Добавить</button>
											</form>
										</div>
										<!--children start-->
										<!-- Список комментариев
============================================= -->
										<ul class="children">
											{%for comment in comment%}
											{% if comment.post_id == posts.id%}
											<li class="comment byuser comment-author-_smcl_admin odd alt depth-2" >
												<div class="comment-wrap clearfix">
													<div class="comment-meta">
														<div class="comment-author vcard">
															<a href="{{comment.poster.get_absolute_url}}" >
															<span class="comment-avatar clearfix">
																{%if comment.poster.photo%}
																<img alt="{{comment.poster}}" src="{{comment.poster.photo.url}}" class="avatar avatar-40 photo" width="40" height="40"></span>
																{%else%}
																<img alt="{{comment.poster}}" src="{% static 'images/icons/avatar.jpg' %}" class="avatar avatar-40 photo" width="40" height="40"></span>
																{%endif%}
															</a>
														</div>
													</div>
													<div class="comment-content clearfix">
														<div class="comment-author">
															<a href="{{comment.poster.get_absolute_url}}" rel="external nofollow" class="url">{{comment.poster.first_name}}</a>


									<!-- Редактирование комментария
============================================= -->
															{% if posts.poster_id == user.id%}
															<i class="icon-line-edit-3" data-toggle="modal" data-target="#modal-comment-update{{comment.id}}" ></i>
															<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myCommentModalLabel" aria-hidden="true" id="modal-comment-update{{comment.id}}">
																<div class="modal-dialog modal-lg">
																	<div class="modal-body">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h4 class="modal-title" id="myCommentModalLabel">Редактировать комментарий</h4>
																				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																			</div>
																			<div class="modal-body">
																				<form method="post" enctype="multipart/form-data">
																					{%csrf_token%}
																					<div class="row">
																						<div class="col-12">
																							<div class="form-group">
																								<textarea name="comment" id="id_comment" class="form-control required" cols="30" rows="2">{{comment.comment}}</textarea>
																							</div>
																						</div>
<!--																							<div class="col-10 form-group">-->
<!--																								<label for="id_image">Редактировать фото:</label><br>-->
<!--																								<input id="id_image" type="file" name="image" multiple >-->
<!--																							</div>-->
																						<input  type="hidden" id="id_id" name="id" value="{{comment.id}}">
																					</div>
																					<div class="modal-footer">
																						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																						<button class="btn btn-primary" type="submit" name="submit" value="update_comment_form">Сохратить</button>
																					</div>
																				</form>
																			</div>

																		</div>
																	</div>
																</div>
															</div>
															{%endif%}




															<span>
																<a href="#" title="Permalink to this comment">{{comment.date}}</a></span></div>
														<p>{{comment.comment}}</p>
														<!-- Удаление комментария
============================================= -->
													<a class="comment-reply-link">
														<form method="post" >
															{%csrf_token%}
															<i class="icon-line-cross" data-toggle="modal" data-target="#modal-comment-delete{{comment.id}}"></i>
															<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-comment-delete{{comment.id}}">
																<div class="modal-dialog modal-sm">
																	<div class="modal-body">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h4 class="modal-title" id="myModalLabel">Удаление</h4>
																				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																			</div>
																			<input type="hidden" id="id_id" name="id" value="{{comment.id}}">
																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																				<button class="btn btn-primary" type="submit" name="submit" value="delete_comment_form">Удалить</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</form>
													</a>
													</div>
													<br>
													<!-- Список комментариев к комментариям
============================================= -->
													<form method="POST">
														{%csrf_token%}
														<div class="form-group">
															<textarea name="comment" id="id_comment" class="form-control required" cols="30" rows="1" placeholder="Добавить комментарий"></textarea>
														</div>
														<input type="hidden" id="id_post" name="post" value="{{posts.id}}">
														<input type="hidden" id="id_parent" name="parent" value="{{comment.id}}">
														<button  class="button button-3d button-mini button-rounded button-leaf" type="submit" name="submit" value="second_comment_form">Добавить</button>
													</form>
													{%for second_comment in second_comment%}
													{% if comment.id == second_comment.parent_id%}
													<div class="comment-wrap clearfix">
														<div class="comment-meta">
															<div class="comment-author vcard">
																<span class="comment-avatar clearfix">
																	{%if second_comment.poster.photo%}
																	<img alt="{{second_comment.poster}}" src="{{second_comment.poster.photo.url}}" class="avatar avatar-40 photo" width="40" height="40"></span>
																	{%else%}
																	<img alt="{{second_comment.poster}}" src="{% static 'images/icons/avatar.jpg' %}" class="avatar avatar-40 photo" width="40" height="40"></span>
																	{%endif%}
															</div>
														</div>
														<div class="comment-content clearfix">
															<div class="comment-author">
																<a href="#" rel="external nofollow" class="url">{{second_comment.poster.first_name}}</a>



															<!-- Редактирование комментария
============================================= -->
															{% if posts.poster_id == user.id%}
															<i class="icon-line-edit-3" data-toggle="modal" data-target="#modal-second-comment-update{{second_comment.id}}" ></i>
															<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySecondCommentModalLabel" aria-hidden="true" id="modal-second-comment-update{{second_comment.id}}">
																<div class="modal-dialog modal-lg">
																	<div class="modal-body">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h4 class="modal-title" id="mySecondCommentModalLabel">Редактировать комментарий</h4>
																				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																			</div>
																			<div class="modal-body">
																				<form method="post" enctype="multipart/form-data">
																					{%csrf_token%}
																					<div class="row">
<!--																						{{update_second_comment_form.as_p}}-->
																						<div class="col-12">
																							<textarea class="form-control required" cols="30" rows="2" name="comment" cols="40" rows="10" maxlength="100" id="id_comment">{{second_comment.comment}}</textarea>
																						</div>
<!--																							<div class="col-10 form-group">-->
<!--																								<label for="id_image">Редактировать фото:</label><br>-->
<!--																								<input id="id_image" type="file" name="image" multiple >-->
<!--																							</div>-->
																						<input  type="hidden" id="id_id" name="id" value="{{second_comment.id}}">
																					</div>
																					<div class="modal-footer">
																						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																						<button class="btn btn-primary" type="submit" name="submit" value="update_second_comment_form">Сохратить</button>
																					</div>
																				</form>
																			</div>

																		</div>
																	</div>
																</div>
															</div>
															{%endif%}



																<span>
																	<a href="#" title="Permalink to this comment">{{second_comment.date}}</a></span></div>
															<p>{{second_comment.comment}}</p>
						<!-- Удаление комментария
============================================= -->
															<a class="comment-reply-link">
																<form method="post" >
																	{%csrf_token%}
																	<i class="icon-line-cross" data-toggle="modal" data-target="#modal-second-comment-delete{{second_comment.id}}"></i>
																	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-second-comment-delete{{second_comment.id}}">
																		<div class="modal-dialog modal-sm">
																			<div class="modal-body">
																				<div class="modal-content">
																					<div class="modal-header">
																						<h4 class="modal-title" id="myModalLabel">Удаление комментария</h4>
																						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																					</div>
																					<input type="hidden" id="id_id" name="id" value="{{second_comment.id}}">
																					<div class="modal-footer">
																						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
																						<button class="btn btn-primary" type="submit" name="submit" value="delete_second_comment_form">Удалить</button>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</form>
															</a>
														</div>
													</div>
													{%endif%}
													{%endfor%}
												</div>
											</li>
											{%endif%}
											{%endfor%}
										</ul>
										<!--children tnd-->
									</div>
								</li>
								{%endif%}
								{%endfor%}
							</ol>
						</div>
					</div>
				</div>
				<div class="w-100 line d-block d-md-none"></div>
			</div>
			{%endfor%}
		</div>
	</div>
</section>

<!-- #content end -->

